RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

<IfModule mod_rewrite.c>

php_value xdebug.remote_enable on
php_value xdebug.remote_host "10.0.2.2"
php_value xdebug.remote_port 9000
php_value xdebug.idekey "PHPSTORM"
php_value xdebug.remote_autostart 0

</IfModule>
